<h1>Schools</h1>

<ul>
  <%@schools.each do |school|%>
    <li>
      <%= link_to school.name, school_path(school) %>
    </li>
  <%end%>

</ul>

<%= form_tag(students_path, :method => "get", id: "search-form") do %>
  Search by Student: <%= text_field_tag :search, params[:search], placeholder: "Search Students" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
